input {
  text-align: center;
}

.disabled {
  background-color: #CCCCCC;
  color: white;
}

.visualization-holder {
  background-color: #333333;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
